.DisplaySharedItem{
    width: 100%;
    border: 1px solid #96cb01;
    display: flex;
    justify-content: space-between;

    .DisplaySharedItem-photo{
        width: 35%;
        text-align: center;

        img{
            width: 100%;
        }
        button{
            width: 100px;
            height: 20px;
            background: red;
            color: white;
            border: none;
            border-radius: 5px;
            margin: 10px auto;
            cursor: pointer;

            &:hover{
                background: rgb(139, 1, 1);
            }
        }
    }
    .DisplaySharedItem-info{
        width: 65%;
        padding: 20px;
        box-sizing: border-box;

        h2{
            text-align: center;
        }
        p{
            margin-top: 50px
            ;
        }
    }
}

@media screen and (max-width: 1050px){
    .DisplaySharedItem{
        display: block;
        margin-bottom: 10px;
    }
    .DisplaySharedItem .DisplaySharedItem-photo{
        width: 80%;
        margin: 0 auto;
    }
    .DisplaySharedItem .DisplaySharedItem-info{
        width: 100%;
    }
}

@media screen and (max-width: 1050px){
    .display-shared{
        display: block;
    }
    .display-shared .display-shared-get{
        margin: 0 auto 10px auto;
    }
}