.pizza{
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;

    h1{
        text-align: center;
        color: #8ab800;
        margin-top: 10px;
    }
    .pizza-items{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1150px){
    .pizza .pizza-items{
        grid-template-columns:  1fr 1fr;
    }
}

@media screen and (max-width: 1100px){
    .pizza{
        padding: 0;
    }
}

@media screen and (max-width: 768px){
    .pizza .pizza-items{
        grid-template-columns:  1fr;
    }
}