.bar-item{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;

    .bar-item-info{
        width: 100%;

        .bar-item-info-image{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img{
                height: 250px;
            }
        }
        .bar-item-info-details{
            width: 100%;
            text-align: center;
            
            h1{
                color: #8ab800;
                text-decoration: underline;
            }
            p{
                text-align: left;
                margin-top: 10px;
                text-align: center;
            }
        }
    }

    .bar-item-buy{
        width: 100%;
        display: flex;
        margin-top: 10px;

        .bar-item-buy-price{
            width: 60%;
            text-align: center;
            font-size: 24px;

            span{
                font-size: 14px;
                color: grey;
            }
        }
        .bar-item-buy-btn-green{
            width: 40%;
            height: 30px;
            border: none;
            border-radius: 5px;
            background: #8ab800;
            color: white;
        }
        .bar-item-buy-btn-orange{
            width: 40%;
            height: 30px;
            border: none;
            border-radius: 5px;
            background: orange;
            color: white;
            cursor: pointer;

            &:hover{
                background: rgb(158, 103, 0);
            }
        }
    }
}

@media screen and (max-width: 768px){
    .bar-item{
        width: 90%;
        margin: 10px auto;
        border: 1px solid #8ab800;
        border-radius: 10px;
    }
    .bar-item .bar-item-info .bar-item-info-image img{
        height: 250px;
    }
}

@media screen and (max-width: 450px){
    .bar-item .bar-item-info .bar-item-info-image img{
        height: 200px;
    }
}

@media screen and (max-width: 320px){
    .bar-item .bar-item-info .bar-item-info-image img{
        height: 150px;
    }
}