.admin {
    padding: 0 100px;

    .admin-login {
        width: 300px;
        height: 200px;
        text-align: center;
        color: #9cc000;
        margin: 100px auto;
        border: 1px solid #9cc000;
        border-radius: 10px;

        input {
            width: 200px;
            height: 20px;
            margin-top: 10px;
            text-align: center;
            border: 1px solid #9cc000;

            &:focus {
                outline: none;
                border: 1px solid rgb(16, 98, 192);
                box-shadow: 0 0 5px 1px rgb(16, 98, 192);
            }
        }
        button {
            width: 200px;
            height: 20px;
            border: none;
            border-radius: 5px;
            background: #9cc000;
            color: white;
            margin-top: 20px;
            cursor: pointer;

            &:hover {
                background: #657c00;
            }
        }
        .admin-login-singUp {
            border: none;
            color: #9cc000;
            background: white;
            cursor: pointer;
            margin-top: 10px;
            text-align: left;

            &:hover {
                background: white;
                color: #657c00;
            }
        }
    }

    .admin-setting {
        .admin-setting-position {
            display: flex;
            justify-content: space-around;

            .admin-setting-position-item {
                height: 150px;
                text-align: center;
                color: grey;
                cursor: pointer;

                &:hover {
                    color: #9cc000;
                }
                img {
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1130px) {
    .admin {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1000px) {
    .admin
        .admin-setting
        .admin-setting-position
        .admin-setting-position-item
        img {
        display: none;
    }
    .admin .admin-setting .admin-setting-position {
        display: block;
    }
    .admin .admin-setting .admin-setting-position .admin-setting-position-item {
        width: auto;
        height: auto;
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .admin {
        padding: 0;
    }
}
