.bar-url{
    width: 100%;
    height: 100%;
    
    .bar-url-shadow{
        width: 70%;
        border-radius: 10px;
        margin: 50px auto 100px auto;
        box-shadow: 0 0 20px 1px black;
        padding: 10px;
        box-sizing: border-box;
        background: white;

        .bar-url-details{
            width: 100%;
            display: flex;
            border: 1px solid #9cc000;
            border-radius: 5px;
            padding: 10px;
            box-sizing: border-box;
    
            .bar-url-details-image{
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    height: 250px;
                }
            }
    
            .bar-url-details-info{
                width: 60%;
                padding: 0 20px;
                box-sizing: border-box;
                font-family: sans-serif;

                h1{
                    color: #8ab800;
                    font-weight: 500;
                    font-style: italic;
                    text-decoration: underline;
                    font-size: 20px;
                }
    
                .bar-url-details-info-basket{
                    min-height: 100px;
                    p{
                        margin-top: 10px;
                        color: #9e9e9e;
                        font-style: italic;
                        font-size: 14px;
                    }
                }
                .bar-url-details-info-GrammPrice{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;

                    .bar-url-details-info-GrammPrice-priceButton{
                        text-align: center;

                        .bar-url-details-info-GrammPrice-priceButton-green{
                            width: 150px;
                            height: 30px;
                            font-size: 18px;
                            color: white;
                            margin-top: 5px;
                            border-radius: 7px;
                            background-color: #9cc000;
                            border: 2px solid #9cc000;
                            cursor: pointer;

                            &:hover{
                                background: white;
                                color: #9cc000;
                            }
                        }
                        .bar-url-details-info-GrammPrice-priceButton-orange{
                            width: 150px;
                            height: 30px;
                            font-size: 18px;
                            color: white;
                            margin-top: 5px;
                            border-radius: 7px;
                            background-color: orange;
                            border: 2px solid orange;
                            cursor: pointer;

                            &:hover{
                                background: white;
                                color: orange;
                            }
                        }
                    }
                }
            }
            .bar-url-details-close{
                width: 2%;

                img{
                    width: 100%;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and  (max-width: 1130px){
    .bar-url .bar-url-shadow {
        width: 90%;
    }
}

@media screen and  (max-width: 768px){
    .bar-url .bar-url-shadow .bar-url-details{
        display: block;
    }
    .bar-url .bar-url-shadow .bar-url-details .bar-url-details-image {
        width: 100%;
    }
    .bar-url .bar-url-shadow .bar-url-details .bar-url-details-info{
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and  (max-width: 450px){
    .bar-url .bar-url-shadow .bar-url-details .bar-url-details-info .bar-url-details-info-GrammPrice{
        display: block;
    }
    .bar-url .bar-url-shadow .bar-url-details .bar-url-details-info .bar-url-details-info-GrammPrice .bar-url-details-info-GrammPrice-priceButton{
        margin-top: 25px;
    }
}