.pizza {
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;

    .pizza-title {
        width: 50%;
        height: 50px;
        margin: 0 auto;
        text-align: center;
        border-bottom: 3px dashed grey;

        h1 {
            color: #8ab800;
        }
    }
    .pizza-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1150px) {
    .pizza .pizza-items {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1100px) {
    .pizza {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .pizza .pizza-items {
        grid-template-columns: 1fr;
    }
}
