.display-sushi{
    margin-top: 50px;
    display: flex;

    .display-sushi-get{
        width: 250px;
        height: 375px;
        text-align: center;
        border: 1px solid #9cc000;
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        margin-right: 5px;

        p{
            margin-top: 10px;
        }
        input{
            margin-top: 5px;
        }
        button{
            width: 175px;
            height: 20px;
            color: white;
            border: none;
            border-radius: 5px;
            background: #9cc000;
            margin-top: 20px;
            cursor: pointer;
        }
    }
    .display-sushi-delete{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1000px){
    .display-sushi .display-sushi-delete{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px){
    .display-sushi{
        display: block;
    }
    .display-sushi .display-sushi-get{
        margin: 10px auto;
    }
    .display-sushi .display-sushi-delete{
        grid-template-columns: 1fr;
    }
}