.display-bar{
    margin-top: 50px;
    display: flex;

    .display-bar-get{
        width: 250px;
        height: 370px;
        text-align: center;
        border: 1px solid #9cc000;
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;

        p{
            margin-top: 10px;
        }
        input{
            margin-top: 5px;
        }
        button{
            width: 175px;
            height: 20px;
            color: white;
            border: none;
            border-radius: 5px;
            background: #9cc000;
            margin-top: 20px;
            cursor: pointer;
        }
    }
    .display-bar-delete{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 10px;
    }
}